<% cache "commits/#{commit.id}/without_avatar=#{local_assigns[:without_avatar]}" do %>
  <tr id="commit_id=<%= commit.id %>" class="row" data-no-turbolink>
    <% if local_assigns[:without_avatar] %>
      <td class="col-xs-2 col-sm-2">
        <%= commit.repository.make_link %>
      </td>
      <td class="col-xs-2 col-sm-0">
        <%= commit.show_small_time %>
      </td>
    <% else %>
      <td class="col-xs-4 col-sm-2">
        <table>
          <tr>
            <td>
              <%= commit.user.make_avatar_link %>
            </td>
            <td style="padding-left: 1px; vertical-align: top">
              <table class="avatar_header" style="word-wrap:break-word; table-layout:fixed;">
                <tr class="small">
                  <td>
                    <%= commit.user.make_link('margin:0; word-break: break-all;') %>
                  </td>
                </tr>
                <tr class="small">
                  <td class="small">
                    <p style="margin:0" class="small">in <%= commit.repository.make_link %></p>
                  </td>
                </tr>
                <tr class="small">
                  <td class="small">
                    <p style="margin:0" class="small"><%= commit.distance_of_time %></p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    <% end %>
    <td id="commit_message_id <%= commit.id %>" class="col-xs-8 col-sm-10">
      <%= commit.show_message %>
    </td>
  </tr>
<% end %>