<tr id="commit_id:<%= commit.id %>" data-no-turbolink>
  <% if local_assigns[:without_avatar] %>
    <td>
      <%= link_to commit.repository.name, repository_path(commit.repository.id) %>
    </td>
    <td>
      <p><%= distance_of_time_in_words_to_now(commit.utc_commit_time) %> ago</p>
    </td>
  <% else %>
    <td>
      <table>
        <tr>
          <td>
            <%= link_to(image_tag(commit.user.avatar_uri, class: 'avatar_wrapper'), '/users') %>
          </td>
          <td style="padding-left: 1px; vertical-align: top">
            <table class="avatar_header">
              <tr class="small">
                <td>
                  <%= link_to commit.user.account_name, user_path(commit.user.id), style: 'margin:0' %>
                </td>
              </tr>
              <tr class="small">
                <td class="small">
                  <p style="margin:0" class="small">in <%= link_to commit.repository.name, repository_path(commit.repository.id) %></p>
                </td>
              </tr>
              <tr class="small">
                <td class="small">
                  <p style="margin:0" class="small"><%= distance_of_time_in_words_to_now(commit.utc_commit_time) %> ago</p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  <% end %>
  <td>
    <%= commit.message %>
  </td>
</tr>
