<div class="row">
  <div style="float: left; width: auto; padding-right: 2px;">
    <%= button_to 'Fetch All Repositories', fetch_all_repositories_path, method: :post, class: 'btn btn-success' %>
  </div>
  <div style="float: left; width: auto; padding-right: 2px;">
    <%= button_to 'Fetch All Known Repository Commits', fetch_old_commits_path, method: :post, class: 'btn btn-success' %>
  </div>
  <div style="float: left; width: auto; padding-right: 2px;">
    <%= button_to 'Clear Cache', clear_cache_path, method: :post, class: 'btn btn-default' %>
  </div>
</div>

<div class="row">
  <% if @commits.empty? %>
    <div class="jumbotron">
      <h1>Well this is disappointing...</h1>
      <h2>It looks like your developers aren't as angry as you thought.</h2>
    </div>
  <% else %>
    <div class="table-responsive">
      <% start_time = Time.now %>
      <table class="table table-hover table-condensed" id="commits">
        <tbody>
        <%= render @commits %>
        </tbody>
      </table>
      <% begin %>
        <%= will_paginate @commits %>
      <% rescue Exception => e %>
        <% logger.error "Exception was encountered because of the shitty pagination gem. Fuck this. #{e}" %>
      <% end %>
      <% end_time = Time.now %>
      <% logger.debug "Rendering all the commit messages took: #{(end_time - start_time).round(2)} seconds." %>

  <% end %>
  </div>

</div>
