<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
            <th>Username</th>
            <th>Message</th>
            <th>Repository</th>
            <th>Branch</th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @commits) do |commit| %>
            <td><%= commit.user.author_name %></td>
            <td><%= commit.message %></td>
            <td><%= commit.repo_name %></td>
            <td><%= commit.branch %></td>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'Fetch Latest Commits', fetch_latest_path, class: 'btn btn-success' %>
</div>
