<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
            <th>Username</th>
            <th>Message</th>
            <th>Repository</th>
            <th>Branch</th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @commits) do |commit| %>
            <td><%= commit.user.account_name%></td>
            <td><%= commit.message %></td>
            <td><%= commit.repo_name %></td>
            <td><%= commit.branch_name %></td>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'Fetch Latest Commits', fetch_latest_from_bitbucket_path, class: 'btn btn-success' %>
  <%= link_to 'Destroy all Commits', destroy_all_commits_path, method: :delete, class: 'btn btn-danger' %>
</div>
