<% provide(:title, @repository.name) %>
<div class="row">
  <h1>
    <%= @repository.make_avatar_link %><%= @repository.name %>
  </h1>
  <p class="small"><%= @repository.description %></p>
  <div class="table-responsive">
    <table class="table table-condensed">
      <thead>
      <tr class="row">
        <th  class="col-xs-1">Commits&nbsp;Imported</th>
        <th  class="col-xs-1">Import&nbsp;Status</th>
        <th class="col-xs-10">Languages</th>
      </tr>
      </thead>
      <tbody>
      <tr class="row">
        <td><%= @repository.commits.size %></td>
        <td><%= @repository.import_complete? %></td>
        <td><%= @repository.repository_languages.try(:map) { |repository_language| repository_language.word.value }.join(', ') %></td>
      </tr>
      </tbody>
    </table>
  </div>
  <table class="table table-hover table-condensed sortable table-responsive">
    <thead>
    <tr class="row">
      <th class="col-xs-1">User</th>
      <th class="col-xs-0">Commits</th>
      <th class="col-xs-1">Time</th>
      <th class="col-xs-9">Latest&nbsp;Commit</th>
    </tr>
    </thead>
    <tbody id="repository_users">
    <%= render partial: 'users/repository_user', collection: @repository_users %>
    </tbody>
  </table>
  <%= will_paginate(@repository_users, partial: 'users/repository_user') %>
</div>
