<% provide(:title, @repository.name) %>
<div class="row">
  <div class="col-xs-12">
    <h1>
      <%= @repository.make_avatar_link %><%= @repository.name %>
    </h1>
    <p class="small"><%= @repository.description %></p>
    <div class="table-responsive">
      <table class="table table-condensed ">
        <tbody>
        <tr class="row">
          <th class="col-xs-1">Commits&nbsp;Imported</th>
          <td><%= @repository.commits.size %></td>
        </tr>
        <tr class="row">
          <th class="col-xs-1">Import&nbsp;Status</th>
          <td><%= @repository.import_complete? %></td>
        <tr class="row">
          <th class="col-xs-1">Languages</th>
          <td><%= @repository.make_language_list %></td>
        </tr>
        </tbody>
      </table>
    </div>
    <table class="table table-hover table-condensed table-responsive sortable commits">
      <thead>
      <tr class="row">
        <th class="col-xs-2">User</th>
        <th class="col-xs-1">Commits</th>
        <th class="col-xs-1">Time</th>
        <th class="col-xs-8">Latest&nbsp;Commit</th>
      </tr>
      </thead>
      <tbody id="repository_users">
      <%= render partial: 'users/repository_user', collection: @repository_users %>
      </tbody>
    </table>
    <%= will_paginate(@repository_users, partial: 'users/repository_user') %>
  </div>
</div>
