<% commit = repository_user.commits.where(repository: @repository).order('utc_commit_time DESC').first.decorate %>
<tr id="repository_user_id:<%= repository_user.id %>" class="row" data-no-turbolink>
  <td>
    <table>
      <tr>
        <td>
          <%= repository_user.make_avatar_link %>
        </td>
        <td style="padding-left: 1px; vertical-align: top">
          <table class="avatar_header">
            <tr class="small">
              <td>
                <%= repository_user.make_link %>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
  <td>
    <p><%= repository_user.commits.where(repository: @repository).size %></p>
  </td>
  <td>
    <p class="small"><%= commit.utc_commit_time %></p>
  </td>
  <td>
    <p><%= commit.show_message %></p>
  </td>
</tr>