<div class="row">
  <div class="page-header">
    <h1>
      <%= image_tag @user.avatar_uri, class: 'avatar_wrapper' %><%= @user.account_name %>
    </h1>
  </div>

  <dl>
    <dt>User's Aliases:</dt>
    <dd><%= @user.user_names.uniq(&:name).map(&:name).join(', ') %></dd>
  </dl>
  <%= link_to 'Back', 'javascript:history.go(-1);', class: 'btn btn-default' %>

  <div class="table-responsive">
    <table class="table table-hover sortable" id="commits">
      <thead>
      <tr>
        <th>Repository</th>
        <th>Commit</th>
      </tr>
      </thead>
      <tbody>
      <%= render @commits, without_avatar: true %>
      </tbody>
    </table>
      <%= will_paginate @commits, without_avatar: true %>
  </div>
</div>