<div class="row">
  <div class="page-header">
    <h1><%= image_tag @user.avatar_uri, class: 'avatar_wrapper' %><%= @user.account_name %></h1>

  </div>

  <dl class="dl-horizontal">
    <dt>User's Aliases:</dt>
    <dd><%= @user.user_names.uniq { |u| u.name }.map { |u| u.name } %></dd>
  </dl>
  <%= link_to 'Back', 'javascript:history.go(-1);', class: 'btn btn-default' %>

</div>
<div class="row">
  <div class="table-responsive">
    <% start_time = Time.now %>
    <table class="table table-hover" id="commits">
      <tbody>
      <%= render @user.commits %>


      </tbody>
    </table>
    <% begin %>
      <%= will_paginate @user.commits %>
    <% rescue Exception => e %>
      <% logger.error "Exception was encountered because of the shitty pagination gem. Fuck this. #{e}" %>
    <% end %>
    <% end_time = Time.now %>
    <% logger.debug "Rendering all the commit messages took: #{(end_time - start_time).round(2)} seconds." %>

  </div>
</div>