<% provide(:title, @user.account_name) %>
<div class="row">
  <h1>
    <%= @user.make_avatar_link('profile_avatar') %><%= @user.account_name %>
  </h1>

  <div class="table-responsive">
    <table class="table table-hover table-condensed">
      <thead>
      <tr>
        <th>Total Commits</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <%= @user.commits.size %>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="table-responsive">
    <table class="table table-hover sortable table-condensed">
      <thead>
      <tr>
        <th>Repository</th>
        <th>Time</th>
        <th>Commit</th>
      </tr>
      </thead>
      <tbody id="commits_table_body">
      <%= render @commits, without_avatar: true %>
      </tbody>
    </table>
    <%= will_paginate @commits, without_avatar: true %>
  </div>
</div>