<div class="page-header">
  <%= link_to new_filter_category_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Filter category
  <% end %>
  <h1>Listing filter_categories</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Category</th>
            <th>Category</th>
            <th>Filterset</th>
            <th>Filterset</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @filter_categories) do |filter_category| %>
            <td><%= filter_category.category_id %></td>
            <td><%= filter_category.category_id %></td>
            <td><%= filter_category.filterset_id %></td>
            <td><%= filter_category.filterset_id %></td>
            <td><%= link_to 'Show', filter_category %></td>
        <td><%= link_to 'Edit', edit_filter_category_path(filter_category) %></td>
        <td><%= link_to 'Destroy', filter_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
