<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href=<%= root_path %>>Commits From Last Night</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if current_page?(controller: 'commits', action: 'index') %>
          <form class="navbar-form text-center" role="form" method="get" action="">
            <div class="form-group">
              <select id="multiselect_commits" class="selectpicker" multiple="" data-actions-box="true">
                <% @categories.try(:each) do |category| %>
                  <option id="category_id_<%= category.id %>"
                          <% if category.default %> default="true"
                          <% end %> name="<%= category.name %>" value="<%= category.id %>"><%= category.name.humanize %></option>
                <% end %>
              </select>
            </div>
            <div class="form-group">
              <button type="button" class="btn btn-default" onClick="refreshWithSelectedCategories()">Filter</button>
            </div>
            <input id="HighlightToggle" type="checkbox" data-toggle="toggle" data-on="Highlight On" data-off="Highlight Off" data-onstyle="default">
            <script>
                $(function () {
                    $('#HighlightToggle').change(function () {
                        getListOfFilterWordsAndHighlight(getListOfSelectedCategories());
                        $.changeHighlighting();
                    })
                })
            </script>
          </form>
          <!--<li><a href=>About</a></li>-->
          <!--<li><a href=>Contact</a></li>-->
          </ul>
          </div>
          <!-- /.navbar-collapse -->
          </div>
          <!-- /.container -->
          </nav>
          <%= render 'layouts/error_modal' %>
        <% else %>
          </ul>
          </div>
          <!-- /.navbar-collapse -->
          </div>

          <!-- /.container -->
          </nav>
        <% end %>